
@font-face {
    font-family: 'AtypDisplay-Bold';
    src: local('AtypDisplay-Bold'),
    url("./fonts/fonts/AtypDisplay-Bold.ttf") format('opentype')
}

@font-face {
    font-family: 'Light';
    src: local('AtypText-Light'),
         url('./fonts/fonts/AtypText-Light.ttf') format('opentype');
  }
  
  @font-face {
    font-family: 'regular';
    src: local('AtypText-Regular'),
         url('./fonts/fonts/AtypText-Regular.ttf') format('opentype');
  }
  
  @font-face {
    font-family: 'semibold';
    src: local('AtypText-Semibold'),
         url('./fonts/fonts/AtypText-Semibold.ttf') format('opentype');
  }

  h1,h2,h3,h4,h5,h6{
    color:#fff !important;
  }

  .ant-dropdown-menu{
    width:650px;
    border-radius: 30px !important;
    padding:20px 10px !important;
  }
  .ant-dropdown-menu-item:hover{
      background-color: #fff !important;
      cursor: auto;
  }

/* body {
    font-family: AtypDisplay-Bold;
} */
